.recipet {
    &>div {
        margin-top: 20px;
        text-align: center;
    }
    p, label {
        text-align: center;
        margin: 0 auto;
    }
    .badge_ {
        background-color: #eee;
        padding: 2px 8px;
        border-radius: 16px;
        margin: 10px;
    }
    .title {
        margin-bottom: 10px;
        font-weight: bold;
    }
}
