.layout {
    height: 100vh;
    header {
        border-bottom: 1px solid #eee;
    }
    nav {
        a {
            margin-bottom: 10px;
        }
    }
    .add-wallet-btn {
        border: 1px dashed rgb(47, 47, 136);
    }
    .content {
        height: calc(100vh - 70px);
    }
    .router-content {
        flex: 1;
        padding: 40px 60px;
        height: 100%;
        box-sizing: border-box;
        overflow: auto;
    }
}
